<div class="chrome-shell h-full w-full flex flex-col">
  <!-- URL Bar -->
  <div class="chrome-toolbar w-full flex justify-start items-center text-sm">
    <div 
      (click)="refreshChrome()" 
      class="browser-action ml-2 mr-1 flex justify-center items-center rounded-full cursor-pointer">
      <img class="w-5" src="/assets/themes/Yaru/status/chrome_refresh.svg" alt="刷新" />
    </div>
    <div 
      (click)="goToHome()" 
      class="browser-action mr-2 ml-1 flex justify-center items-center rounded-full cursor-pointer">
      <img class="w-5" src="/assets/themes/Yaru/status/chrome_home.svg" alt="主页" />
    </div>
    <input 
      #urlBar
      id="chrome-url-bar"
      [(ngModel)]="displayUrl"
      (keydown)="onUrlKeyDown($event)"
      class="chrome-address outline-none rounded-lg pl-3 mr-3 w-5/6"
      type="url" 
      spellcheck="false" 
      autocomplete="off" />
  </div>
  <!-- Browser Frame -->
  <iframe 
    #chromeScreen
    id="chrome-screen"
    [src]="safeUrl" 
    class="flex-grow" 
    frameborder="0" 
    title="浏览器页面">
  </iframe>
</div>
